.question {
  margin-top: 100px;
  h2 {
    color:#3c4043;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding: 64px 0 0 0;
  }
  h4 {
    color:#3c4043;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    padding: 64px 0 0 0;
  }
  ol {
    padding: 17px;
    li {
      padding: 0 10px;
    }
  }
  p {
    margin: 10px 0;
    line-height: 24px;
    padding-top: 20px;
    a {
      color: #2962ff;
    }
  }
}