nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  .nav-up {
    justify-content: space-between;
    padding: 15px 20px;
    .left {
      align-items: center;
      .hamburger {
        cursor: pointer;
        display: none;
        margin-right: 50px;
        div {
          background: rgb(78, 79, 80);
          height: 3px;
          width: 25px;
          margin-top: 5px;
          border-radius: 7px;
        }
      }  
      img {
        width: 75px;
      }
      span {
        padding-left: 5px;
        font-size: 24px;
        color: rgb(95, 99, 104);
        font-weight: 500;
        &:last-child {
          display: none;
        }
      }
    }
    .right {
      align-items: center;
      svg {
        color: rgb(78, 79, 80);
        width: 24px;
        cursor: pointer;
      }
      img {
        margin-left: 25px;
        width: 40px;
        border-radius: 50%;
      }
    }
  }
  .nav-down {
    ul {
      padding: 0 20px;
      li {
        font-weight: 500;
        margin-right: 40px;
        padding-bottom: 10px;
        list-style: none;
        &.active {
          border-bottom: 3px solid #3367d6;
        }
        a {
          color:rgb(95, 99, 104);
          &.active {
            color: #3367d6 !important;
            font-weight: 600;
          }
  
        }
      }
    }
  }
}

hr {
  color: lightgrey;
  height: 0.5px;
}

.nav-dropdown {
  background-color: #fff;
  position: absolute;
  left: 0;
  height: calc(100vh - 72.5312px);
  transform: translateX(-100%);
  transition: transform  0.8s ease-out;
  ul {
    li {
      font-weight: 500;
      list-style: none;
      a {
        color:rgb(95, 99, 104);
        &.active {
          color: #3367d6 !important;
          font-weight: 600;
        }
      }
    }
  }
}

.nav-dropdown-open {
  transform: translateX(0);
  transition: transform 0.8s ease-in;
  width: 40vw;
}

.inactive {
  background-color: rgba(0, 0, 0, 0.4);
}

@media all and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .left > img {
    display: none;
  }

  .left > span {
    display: none;
  }

  nav .nav-up .left span:last-child {
    display: inline-block;
  }

  nav .nav-up .left .hamburger {
    display: inline-block;
    margin-right: 15px;
  }

  nav .nav-up {
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
  } 

  .nav-down {
    display: none;
  }

  .nav-dropdown > ul {
    flex-direction: column;
  }

  .nav-dropdown-open {
    width: 50vw;
  }

  nav .nav-dropdown ul li {
    padding: 17px 12px 17px 0;
    border-bottom: 0.5px solid lightgray;
    margin-right: 0;
    margin-left: 25px;
  }

  nav .nav-dropdown ul {
    padding: 0;
    padding-left: 20px;
  }

  nav .nav-dropdown ul li.active {
    background-color: rgba(51, 103, 214, 0.3);
    border-bottom: 0;
    margin-left: -15px;
    border-radius: 30px 0px 0 30px;
    a {
      padding-left: 40px;
    }
  }
}

@media all and (max-width: 576px) {
  nav .nav-dropdown ul li {
    font-size: 12px;
  }

  nav .nav-up .left span:last-child {
    font-size: 20px;
  }
}

@media all and (max-width: 320px) {
  nav .nav-dropdown ul li {
    font-size: 10px;
  }

  nav .nav-up .left span:last-child {
    font-size: 15px;
  }
}

@media all and (max-width: 280px) {
  nav .nav-up .left span:last-child {
    font-size: 12px;
  }

  .question h2 {
    font-size: 18px !important;
  }

  .question p {
    font-size: 15px !important;
  }

  footer .footer-left ul li a {
    font-size: 6px !important;
  }
}